<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>
		<param-name>title</param-name>
		<param-value>OA系统</param-value>
	</context-param>
	
	<context-param>
		<param-name>version</param-name>
		<param-value>0.9.4</param-value>
	</context-param>
	
	<context-param>
		<param-name>logo</param-name>
		<param-value>images/logo/logo.png</param-value>
	</context-param>
	
	<context-param>
		<param-name>gmapurl</param-name>
		<param-value></param-value>
		<!-- Default : http://127.0.0.1 -->
	</context-param>
	
	<context-param>
		<param-name>defaultUserPhoto</param-name>
		<param-value>images/user/default.gif</param-value>
		<!-- 用户默认头像 -->
	</context-param>
	
	<context-param>
		<param-name>uploadRootDir</param-name>
		<param-value>/download-center/upload</param-value>
		<!-- 文件上传根路径 : 默认是项目下的upload目录  startwith "/" means sub wabapps-->
	</context-param>
	
	<context-param>
		<param-name>IgnoreAction</param-name>
		<param-value>SearchAction, qrservlet, IndexAction, UserLoginAction, LoginAction, UploadAction, CkeditorUpload, VehicleAction</param-value>
	</context-param>
 
	<!-- 初始化加载spring配置文件 -->
	<context-param> 
		<param-name>contextConfigLocation</param-name> 
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- spring侦听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- struts2过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		   <init-param>
		    <param-name>struts.i18n.encoding</param-name>
		    <param-value>UTF-8</param-value>
		   </init-param>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<url-pattern>*.action</url-pattern>
		<!-- <url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.html</url-pattern> -->
	</filter-mapping>
	
	
	<!-- 
	<servlet>
		<servlet-name>zip</servlet-name>
		<servlet-class>com.tool.servlet.ZipServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>zip</servlet-name>
		<url-pattern>*.zip</url-pattern>
	</servlet-mapping>
	 -->
	 
	<listener>
		<display-name>ContextListener</display-name>
		<listener-class>com.listener.ContextListener</listener-class>
	</listener> 
	
	<!-- session timeout at xx minutes -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	 -->
	
</web-app>
